

body{
   background-color: rgb(255, 255, 255);
   background-attachment: fixed;
}
.aboutus{
    width: 99vw;
    display: flex;
    justify-content: center;
    background-color: rgb(207, 255, 207);
    border-radius: 20px;
}
.useclaa{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(0, 80, 4, 0.548);
    text-align: center;
}

@keyframes ani2 {
        0%{
            background-position: 0% 50%;
        }
        50%{
            background-position: 100% 50%;
        }
        100%{
            background-position-y: 0% 50%;
        }
    
}


.header{
    display: flex;
    flex-direction: row;
    width: 99vw;
    height: 80px;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 16px rgb(224, 224, 224);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;
}
.headersh{
    height: 85px;
    width: 99vw;
    background: linear-gradient(180deg, white, white);
    z-index: 4;
    position: fixed;
    top: 0px;
    left: 0px;
}

.logo{
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    margin-top: 12px;
    margin-left: 50px;
}
.logoimg{
    width: 90;
}
.logoimg:hover{
    width: 110px;
}

.Nav-Items > ul{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.Nav-Items > ul > li{
    padding : 15px;
    margin-top: 20px;
    list-style: none;
    font-size: larger;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    user-select: none;
    font-weight: 500;
}
.Nav-Items > ul > li :hover{
    color: rgb(255, 123, 0);
}

.Logo-Container{
    display: flex;
}

.company-Name{
        font-family: "Protest Revolution", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 2.5rem;
        user-select: none;
        margin-top: 36px;
}

.be{
    color : rgb(255, 102, 0);
}
.Foodyy{
    color: rgb(58, 190, 58);
}

.Search-Bar{
    width: 450px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid rgb(99, 182, 136);
    background-color: rgb(255, 255, 255);
}
.Search-Barsh{
    width: 450px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid rgb(201, 201, 201);
    background-color: rgb(255, 255, 255);
}

.Search-button{
    height: 27px;
    width: 60px;
    background-color: rgb(231, 109, 9) !important;
    border-radius: 5px;
    color: white;
    border: none !important;
}

.Search-buttonsh{
    height: 27px;
    width: 60px;
    background-color: rgb(255, 255, 255) !important;
    border-radius: 5px;
    color: white;
    border: none !important;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.39);
}

.rastaurantcard{
    display: flexbox;
    height: 310px;
    width: 340px;
    background-color: #ffffff00;
    border-radius: 20px !important;
    backdrop-filter: blur(2px);
    color: rgb(36, 20, 0);
    border-radius: 10px;
    font-family: 'Hubballi', sans-serif;
    font-size: large;
    font-weight: 300;
    z-index: 0;
}

.Search-Bar:focus{
    background-color: #ffffff;
}
.starRating{
    background-color: rgb(0, 179, 0);
    width: 50px;
    height: 27px;
    text-align: center;
    border-radius: 3px;
    font-size: medium;
    font-weight: 300;
    color: white;
}

.slaString{
    position: relative;
    bottom: 80px;
    left: 55px;
    font-weight:900;
    color: rgba(0, 0, 0, 0.87);
    font-size:1.2rem;
}

.rastaurantcard:hover{
    animation: ani1 100s ease-in 1;
}

 @keyframes ani1 {
    0%{
        height: 310px;
        font-size: 1.1rem;
    }
    0.08%{
        height: 303px;
        font-size: 1.09rem;
    }
    100%{
        height: 310px;
    }
} 

.rastaurantcard > p {
    margin: 10px;
}

.food{
    height: 220px;
    background-size: cover;
    border-radius: 20px;
    background-position:left;
    display: flex;
    justify-content: center;
    align-items:end;
}
.foodcenter{
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offers{
    height: 90px;
    width: 330px;
    background: linear-gradient(0deg, rgb(0, 0, 0), rgba(255, 255, 255, 0));
    display: flex;
    color: rgb(218, 218, 218);
    justify-content:flex-start;
    align-items:end;
    font-weight: 600;
    font-size: large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 10px ;
    padding-bottom: 10px;
}

.offerssh{
    height: 220px;
    width: 350px;
    background: linear-gradient(0deg, rgb(201, 201, 201), rgba(241, 241, 241, 0.877));
    display: flex;
    color: rgb(218, 218, 218);
    justify-content: start;
    align-items:end;
    font-weight: 900;
    font-family:cursive;
    font-size: larger !important;
    border-radius: 20px;
    padding-left: 10px ;
}
.res-card{
    height: 370px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.Restaurant-Card{
    display: flex;
    flex-wrap: wrap;
    margin-left: 110px;
    margin-top: -16px;
}
.Restaur{
    margin-left: 115px;
    margin-top: -13px;
}
.res{
    font-size:x-large;
    font-weight: 600;
    color: rgb(0, 0, 0);
}



button{
    box-shadow: 1px 1px 4px rgb(0, 70, 49);
    border: 1px solid white;
}
button:hover{
    animation: ani3 100s ease infinite;
    cursor: pointer;
}


@keyframes ani3 {
    0%{
        box-shadow: 1px 1px 4px rgba(0, 255, 0, 0.473);
    }
    0.03%{
        box-shadow: 2px 2px 8px rgba(0, 255, 0, 0.753);
    }
    100%{
        box-shadow: 1px 1px 4px rgba(0, 255, 0, 0.473);
    }
}

.ser{
    margin-top: 20px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#clsbtn{
    font-size: small;
    color: #1d311abe;
    text-align: center;
    height: 20px;
    width: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 5px;
    right: 125px;
}

#clsbtn:hover{
    cursor: pointer;
}

.Loader{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: rgb(83, 29, 0);
    height: 80vh;
}

.foodsh{
    height: 220px;
    width: 340px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: start;
    align-items:end;
}

.starRatingsh{
    background-color: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgb(201, 201, 201), rgba(241, 241, 241, 0.877));
    width: 50px;
    height: 27px;
    text-align:center;
    border-radius: 4px;
    font-size: medium;
    font-weight: 300;
    border-radius: 10px;
    color: rgba(181, 199, 182, 0.829);
}

.ressh{
    height: 30px;
    width: 300px;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgb(201, 201, 201), rgba(241, 241, 241, 0.877));
}

.topRassh{
    height: 32px;
    width: 12%;
    border-radius: 20px;
    border: none !important;
    margin-left: 130px;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgb(228, 228, 228), rgba(241, 241, 241, 0.877));
    box-shadow: none;
}

.topRas{
    height: 32px;
    border-radius: 20px;
    margin-left: 130px;
    margin-top: 5px;
    background-color: rgb(7, 214, 0);
    border: none !important;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    font-weight:bolder;
    box-shadow: 1px 1px 2px rgba(0, 128, 0, 0.473);
}

                    
                    
                    
.hethele{                    
    position: relative;                    
    top: 1px;                    
}                    
.uperle{
    font-size: larger;
}
.cuisines{
    background-color: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgb(201, 201, 201), rgba(241, 241, 241, 0.877));
    width: 250px;
    height: 18px;
    border-radius: 10px;
}

.cccc{
    font-size:large !important;
    font-weight: 900 !important;
    color: rgba(0, 0, 0, 0.685);
    height: 34px;
}

.loginth{
    height: 30px;
    width: 60px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 1px 1px 4px green;
    text-align: center;
    font-weight: 5rem;
    text-shadow: none;
}
.loginth:hover{
    text-shadow: none !important;
}

.slaStringsh{
    position: relative;
    bottom: 63px;
    left: 55px;
    border-radius: 10px;
    font-weight: 700;
    background: linear-gradient(0deg, rgb(201, 201, 201),rgba(241, 241, 241, 0.877));
    width: 150px;
}

.uperlesh{
    font-size: larger;
    color: white;
}

a{
    color: rgb(95, 95, 95);
    text-decoration: none;
}

.mainmenu{
  width: 100vw;
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding-top: 20px;
  color: rgb(255, 232, 223);
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M0 10v20m40-20v20M10 40h20M10 0h20m10 50c-5.523 0-10-4.477-10-10s4.477-10 10-10 10 4.477 10 10-4.477 10-10 10zM10 40c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10 10 4.477 10 10m30-30c-5.523 0-10-4.477-10-10s4.477-10 10-10S50-5.523 50 0s-4.477 10-10 10zM10 0c0 5.523-4.477 10-10 10S-10 5.523-10 0s4.477-10 10-10S10-5.523 10 0'  stroke-width='1' stroke='hsla(259, 0%, 94%, 1)' fill='none'/><path d='M20-10v20m0 20v20m-30-30h20m20 0h20m-20 0c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10 10 4.477 10 10'  stroke-width='1' stroke='hsla(340, 0%, 96%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  background-attachment: fixed;
}
.Search-buttonsh{
    background: linear-gradient(0deg, rgba(241, 241, 241, 0.877), rgb(201, 201, 201));
}

.menu{
    width: 700px;
    border: 1px solid rgba(0, 0, 0, 0.048);
    border-radius: 30px;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='50' height='50' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 94%, 1)'/><path d='M25 3.95L22.3 9.2c-1.45 2.75-.95 6.15 1.25 8.35L25 19l1.45-1.45c2.15-2.2 2.65-5.6 1.25-8.35zm0 7.5c.85 0 1.5.7 1.5 1.5 0 .85-.65 1.5-1.5 1.5s-1.5-.7-1.5-1.5c0-.85.65-1.5 1.5-1.5zm-13.1.45l.75 5.6c.15 1.15 1 2.05 2.1 2.35l6.8 1.7-1.7-6.8c-.25-1.1-1.2-1.95-2.35-2.1zm26.2 0l-5.6.75c-1.15.15-2.05 1-2.35 2.1l-1.7 6.8 6.8-1.7c1.1-.25 1.95-1.2 2.1-2.35zm-21.4 3.4c.75 0 1.4.6 1.4 1.4 0 .4-.15.75-.4 1s-.6.4-1 .4c-.75 0-1.4-.6-1.4-1.4 0-.35.15-.75.4-1s.6-.4 1-.4zm16.55 0c.4 0 .75.15 1 .4s.4.6.4 1c0 .75-.6 1.4-1.4 1.4-.4 0-.75-.15-1-.4s-.4-.6-.4-1c0-.75.6-1.4 1.4-1.4zm4.28 6.179a7.102 7.102 0 00-5.08 2.072L31 25l1.45 1.45c2.2 2.15 5.6 2.65 8.35 1.25l5.25-2.7-5.25-2.7a7.126 7.126 0 00-3.27-.821zm-25.06.035a7.267 7.267 0 00-3.27.787L3.95 25l5.25 2.7c2.75 1.45 6.15.95 8.35-1.25L19 25l-1.45-1.45c-1.374-1.343-3.218-2.043-5.08-2.036zm12.53.685c-.75 0-1.45.301-1.95.801s-.8 1.2-.8 1.95.3 1.45.8 1.95 1.2.8 1.95.8 1.45-.3 1.95-.8.8-1.2.8-1.95-.3-1.45-.8-1.95-1.2-.8-1.95-.8zm12 1.25c.85 0 1.5.65 1.5 1.5s-.7 1.5-1.5 1.5-1.5-.65-1.5-1.5.7-1.5 1.5-1.5zM13 23.5c.8 0 1.5.65 1.5 1.5s-.7 1.5-1.5 1.5c-.85 0-1.5-.65-1.5-1.5s.7-1.5 1.5-1.5zm8.55 4.95l-6.8 1.7c-1.1.25-1.95 1.2-2.1 2.35l-.75 5.6 5.6-.75c1.15-.15 2.05-1 2.35-2.1zm6.9 0l1.7 6.8c.25 1.1 1.2 1.95 2.35 2.1l5.6.7-.75-5.6c-.15-1.15-1-2.05-2.1-2.35zM25 31l-1.45 1.45c-2.15 2.2-2.65 5.6-1.25 8.35l2.7 5.25 2.7-5.25c1.45-2.75.95-6.15-1.25-8.35zm8.3.85c.75 0 1.4.6 1.4 1.4 0 .4-.15.75-.4 1s-.6.4-1 .4c-.75 0-1.4-.6-1.4-1.4 0-.4.15-.75.4-1s.6-.4 1-.4zm-16.55.05c.4 0 .75.15 1 .4s.4.6.4 1c0 .75-.6 1.4-1.4 1.4-.4 0-.75-.2-1-.4-.25-.25-.4-.6-.4-1 0-.75.6-1.4 1.4-1.4zM25 35.5c.85 0 1.5.7 1.5 1.5 0 .85-.65 1.5-1.5 1.5s-1.5-.7-1.5-1.5.65-1.5 1.5-1.5z'  stroke-width='1' stroke='none' fill='hsla(259, 0%, 98%, 1)'/><path d='M1 0c.5.9 1.45 1.5 2.55 1.5C4.65 1.5 5.6.9 6.1 0zm42.9 0c.5.9 1.45 1.5 2.55 1.5C47.55 1.5 48.5.9 49 0zM0 1v5.1c.9-.5 1.5-1.45 1.5-2.55C1.5 2.45.9 1.5 0 1zm50 0c-.9.5-1.5 1.45-1.5 2.55 0 1.1.6 2.05 1.5 2.55zM0 43.9V49c.9-.5 1.5-1.45 1.5-2.55 0-1.1-.6-2.05-1.5-2.55zm50 0c-.9.5-1.5 1.45-1.5 2.55 0 1.1.6 2.05 1.5 2.55zM3.55 48.5c-1.1 0-2.05.6-2.55 1.5h5.1c-.5-.9-1.45-1.5-2.55-1.5zm42.9 0c-1.1 0-2.05.6-2.55 1.5H49c-.5-.9-1.45-1.5-2.55-1.5z'  stroke-width='1' stroke='none' fill='hsla(340, 100%, 99%, 1)'/><path d='M11.7 0A28.002 28.002 0 00.05 11.65v1.45c1.3-2.8 3.1-5.4 5.4-7.65A27.64 27.64 0 0113.15 0H11.7zm25.2.05c2.8 1.3 5.4 3.1 7.65 5.4a27.64 27.64 0 015.45 7.7V11.7A28.002 28.002 0 0038.35.05H36.9zm-16.6.9a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm9.4 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zM17.65 3.6a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm14.7 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm-17.4 2.65a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm20.1 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zM12.3 8.9a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm25.4 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zM9.45 11.75a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm31.1 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zM6.8 14.4a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm36.4 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zM4.15 17.05a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm41.7 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zM1.5 19.75a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm47 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm-47 9.4a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm47 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zM4.15 31.8a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm41.7 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zM6.8 34.45a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm36.4 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zM0 36.85v1.45a28.002 28.002 0 0011.65 11.65h1.45c-2.8-1.3-5.4-3.15-7.65-5.4A27.64 27.64 0 010 36.85zm49.95 0a25.563 25.563 0 01-5.4 7.7 27.64 27.64 0 01-7.7 5.45h1.45a28.002 28.002 0 0011.65-11.65v-1.5zm-40.5.3a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm31.1 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm-28.25 2.8a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm25.4 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm-22.75 2.7a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm20.1 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm-17.4 2.65a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm14.7 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zM20.3 47.95a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm9.4 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55z'  stroke-width='1' stroke='none' fill='hsla(199, 100%, 99%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

.menuResName{
    font-size: 1.5rem;
    color: rgb(255, 187, 0);background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='86.602' height='50' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(88, 58%, 17%, 1)'/><path d='M-.15 6.75 21.5-5.75M-.15.238l21.65-12.5M0 6.75l-21.65-12.5M0 .238l-21.65-12.5M0 12.5v-25L21.65-25M0 12.5-21.65 0v-25L0-37.5 21.65-25V0zm86.452 44.25 21.65-12.5m-21.65 5.988 21.65-12.5m-21.65 5.988 21.65-12.5m-21.5 25.524-21.65-12.5m21.65 5.988-21.65-12.5m21.65 5.988-21.65-12.5m21.65 6.274L64.952 25m21.65 37.5v-25l21.65-12.5m-43.3 25V25l21.65-12.5 21.65 12.5v25l-21.65 12.5Zm21.5-43.25 21.65-12.5M86.452.238l21.65-12.5M86.602 6.75l-21.65-12.5M86.601.238l-21.65-12.5M86.601 12.5v-25l21.65-12.5m-21.65 37.5L64.952 0v-25l21.65-12.5 21.65 12.5V0zM43.15 31.75l21.651-12.5m-21.65 5.988 21.65-12.5m-21.65 5.988 21.65-12.5m-21.5 25.524-21.65-12.5m21.65 5.988-21.65-12.5m21.65 5.988-21.65-12.5M43.3 12.5 21.651 0M43.3 37.5v-25L64.951 0m0 25-21.65 12.5L21.651 25V0L43.3-12.5 64.951 0zm-21.65 37.5L21.651 50M43.3 87.5v-25L64.951 50m0 0v25l-21.65 12.5L21.651 75V50L43.3 37.5ZM-.15 56.75 21.5 44.25M-.15 50.238l21.65-12.5M-.15 43.726l21.65-12.5M0 56.75l-21.65-12.5M0 50.238l-21.65-12.5M0 43.726l-21.65-12.5M0 37.5-21.65 25M0 62.5v-25L21.65 25m0 0v25L0 62.5-21.65 50V25L0 12.5z'  stroke-linejoin='round' stroke-linecap='round' stroke-width='1' stroke='hsla(88, 56%, 21%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    height: 100px;
    background-position: top;
    align-content: center;
    padding-top: 1px;
    padding-bottom: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    text-align: center;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.247);
}

.menuCuisines{
    text-align: center;
    margin-top: 20px;
    height: 50px;
    color: rgb(84, 122, 84);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.274);
    border-top: 1px dashed rgba(0, 0, 0, 0.274);
    background-color: rgba(255, 255, 255, 0.925);
}

.me{
    font-size: 1.3rem;
    font-weight: 900 !important;
    text-align:center;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}
.mein{
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='100' height='100' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(360, 59%, 10%, 1)'/><path d='M-8.26 33.44v-.13a8.26 8.26 0 1 1 16.52 0v.13A8.26 8.26 0 0 0 0 41.58h-.13a8.26 8.26 0 0 0-8.13-8.14zm1.04-.93a9.2 9.2 0 0 1 7.17 5.14 9.33 9.33 0 0 1 7.27-5.15 7.22 7.22 0 0 0-2.08-4.33A7.2 7.2 0 0 0 0 26.04a7.2 7.2 0 0 0-5.13 2.13 7.22 7.22 0 0 0-2.09 4.34zM8.26.05v-.13a8.26 8.26 0 1 1 16.52 0v.13a8.26 8.26 0 0 0-8.26 8.14h-.13A8.26 8.26 0 0 0 8.26.05zM9.3-.88a9.2 9.2 0 0 1 7.17 5.14A9.33 9.33 0 0 1 23.73-.9a7.22 7.22 0 0 0-2.08-4.33 7.2 7.2 0 0 0-5.13-2.13 7.2 7.2 0 0 0-5.13 2.13A7.22 7.22 0 0 0 9.3-.88zm32.38.93v-.13a8.26 8.26 0 1 1 16.52 0v.13a8.26 8.26 0 0 0-8.26 8.14h-.13A8.26 8.26 0 0 0 41.68.05zm1.04-.93a9.2 9.2 0 0 1 7.17 5.14A9.33 9.33 0 0 1 57.15-.9a7.22 7.22 0 0 0-2.08-4.33 7.2 7.2 0 0 0-5.13-2.13 7.2 7.2 0 0 0-5.13 2.13 7.22 7.22 0 0 0-2.09 4.34zM75.1.05v-.13a8.26 8.26 0 1 1 16.52 0v.13a8.26 8.26 0 0 0-8.26 8.14h-.13A8.26 8.26 0 0 0 75.1.05zm1.04-.93a9.2 9.2 0 0 1 7.17 5.14A9.33 9.33 0 0 1 90.57-.9a7.22 7.22 0 0 0-2.08-4.33 7.2 7.2 0 0 0-5.13-2.13 7.2 7.2 0 0 0-5.13 2.13 7.22 7.22 0 0 0-2.09 4.34zm15.6 34.32v-.13a8.26 8.26 0 1 1 16.52 0v.13a8.26 8.26 0 0 0-8.26 8.14h-.13a8.26 8.26 0 0 0-8.13-8.14zm1.04-.93a9.2 9.2 0 0 1 7.16 5.13 9.33 9.33 0 0 1 7.27-5.14 7.22 7.22 0 0 0-2.08-4.33 7.2 7.2 0 0 0-5.13-2.13 7.2 7.2 0 0 0-5.14 2.13 7.22 7.22 0 0 0-2.08 4.34zM8.26 50.13V50a8.26 8.26 0 1 1 16.52 0v.13a8.26 8.26 0 0 0-8.26 8.14h-.13a8.26 8.26 0 0 0-8.13-8.14zm1.04-.93a9.2 9.2 0 0 1 7.17 5.14 9.33 9.33 0 0 1 7.26-5.15 7.22 7.22 0 0 0-2.08-4.33 7.2 7.2 0 0 0-5.13-2.13 7.2 7.2 0 0 0-5.13 2.13A7.22 7.22 0 0 0 9.3 49.2zm-1.04 51.01v-.13a8.26 8.26 0 1 1 16.52 0v.13a8.26 8.26 0 0 0-8.26 8.14h-.13a8.26 8.26 0 0 0-8.13-8.14zm1.04-.93a9.2 9.2 0 0 1 7.17 5.13 9.33 9.33 0 0 1 7.26-5.14 7.22 7.22 0 0 0-2.08-4.33 7.2 7.2 0 0 0-5.13-2.13 7.2 7.2 0 0 0-5.13 2.13 7.22 7.22 0 0 0-2.09 4.34zm15.67-82.53v-.13a8.26 8.26 0 1 1 16.52 0v.13a8.26 8.26 0 0 0-8.26 8.13h-.13a8.26 8.26 0 0 0-8.13-8.13zm1.04-.93a9.2 9.2 0 0 1 7.17 5.13 9.33 9.33 0 0 1 7.26-5.15 7.22 7.22 0 0 0-2.08-4.32 7.2 7.2 0 0 0-5.13-2.13 7.2 7.2 0 0 0-5.13 2.13A7.22 7.22 0 0 0 26 15.82zm-1.04 51v-.13a8.26 8.26 0 1 1 16.52 0v.13a8.26 8.26 0 0 0-8.26 8.14h-.13a8.26 8.26 0 0 0-8.13-8.13zm1.04-.92a9.2 9.2 0 0 1 7.17 5.13 9.33 9.33 0 0 1 7.26-5.15 7.22 7.22 0 0 0-2.08-4.33 7.2 7.2 0 0 0-5.13-2.13 7.2 7.2 0 0 0-5.13 2.13A7.22 7.22 0 0 0 26 65.9zm15.67-49.15v-.13a8.26 8.26 0 1 1 16.52 0v.13a8.26 8.26 0 0 0-8.26 8.13h-.13a8.26 8.26 0 0 0-8.13-8.13zm1.04-.93a9.2 9.2 0 0 1 7.17 5.13 9.33 9.33 0 0 1 7.26-5.15 7.22 7.22 0 0 0-2.08-4.32 7.2 7.2 0 0 0-5.13-2.13 7.2 7.2 0 0 0-5.13 2.13 7.22 7.22 0 0 0-2.09 4.34zm-1.04 17.62v-.13a8.26 8.26 0 1 1 16.52 0v.13a8.26 8.26 0 0 0-8.26 8.14h-.13a8.26 8.26 0 0 0-8.13-8.14zm1.04-.93a9.2 9.2 0 0 1 7.17 5.13 9.33 9.33 0 0 1 7.26-5.14 7.22 7.22 0 0 0-2.08-4.33 7.2 7.2 0 0 0-5.13-2.13 7.2 7.2 0 0 0-5.13 2.13 7.22 7.22 0 0 0-2.09 4.34zm-1.04 17.62V50a8.26 8.26 0 1 1 16.52 0v.13a8.26 8.26 0 0 0-8.26 8.14h-.13a8.26 8.26 0 0 0-8.13-8.14zm1.04-.93a9.2 9.2 0 0 1 7.17 5.14 9.33 9.33 0 0 1 7.26-5.15 7.21 7.21 0 0 0-2.08-4.33 7.2 7.2 0 0 0-5.13-2.13 7.2 7.2 0 0 0-5.13 2.13 7.22 7.22 0 0 0-2.09 4.34zm-1.04 17.63v-.14a8.26 8.26 0 1 1 16.52 0v.13a8.26 8.26 0 0 0-8.26 8.14h-.13a8.26 8.26 0 0 0-8.13-8.13zm1.04-.93a9.2 9.2 0 0 1 7.17 5.13 9.33 9.33 0 0 1 7.26-5.15 7.22 7.22 0 0 0-2.08-4.33 7.2 7.2 0 0 0-5.13-2.13 7.2 7.2 0 0 0-5.13 2.13 7.22 7.22 0 0 0-2.09 4.35zm-1.04 34.31v-.13a8.26 8.26 0 1 1 16.52 0v.13a8.26 8.26 0 0 0-8.26 8.14h-.13a8.26 8.26 0 0 0-8.13-8.14zm1.04-.93a9.2 9.2 0 0 1 7.17 5.13 9.33 9.33 0 0 1 7.26-5.14 7.22 7.22 0 0 0-2.08-4.33 7.2 7.2 0 0 0-5.13-2.13 7.2 7.2 0 0 0-5.13 2.13 7.22 7.22 0 0 0-2.09 4.34zm-1.04-15.76v-.14a8.26 8.26 0 1 1 16.52 0v.14a8.26 8.26 0 0 0-8.26 8.13h-.13a8.26 8.26 0 0 0-8.13-8.13zm1.04-.93a9.2 9.2 0 0 1 7.17 5.13 9.33 9.33 0 0 1 7.26-5.15 7.22 7.22 0 0 0-2.08-4.32 7.2 7.2 0 0 0-5.13-2.13 7.2 7.2 0 0 0-5.13 2.13 7.22 7.22 0 0 0-2.09 4.34zM75.1 16.75v-.13a8.26 8.26 0 1 1 16.52 0v.13a8.26 8.26 0 0 0-8.26 8.13h-.13a8.26 8.26 0 0 0-8.13-8.13zm1.04-.93a9.2 9.2 0 0 1 7.16 5.13 9.33 9.33 0 0 1 7.27-5.15 7.22 7.22 0 0 0-2.08-4.32 7.2 7.2 0 0 0-5.13-2.13 7.2 7.2 0 0 0-5.13 2.13 7.22 7.22 0 0 0-2.09 4.34zM75.1 33.44v-.13a8.26 8.26 0 1 1 16.52 0v.13a8.26 8.26 0 0 0-8.26 8.14h-.13a8.26 8.26 0 0 0-8.13-8.14zm1.04-.93a9.2 9.2 0 0 1 7.16 5.13 9.33 9.33 0 0 1 7.27-5.14 7.22 7.22 0 0 0-2.08-4.33 7.2 7.2 0 0 0-5.13-2.13 7.2 7.2 0 0 0-5.13 2.13 7.22 7.22 0 0 0-2.09 4.34zM75.1 50.13V50a8.26 8.26 0 1 1 16.52 0v.13a8.26 8.26 0 0 0-8.26 8.14h-.13a8.26 8.26 0 0 0-8.13-8.14zm1.04-.93a9.2 9.2 0 0 1 7.16 5.14 9.33 9.33 0 0 1 7.27-5.15 7.22 7.22 0 0 0-2.08-4.33 7.2 7.2 0 0 0-5.13-2.13 7.2 7.2 0 0 0-5.13 2.13 7.22 7.22 0 0 0-2.09 4.34zm-1.04 51.01v-.13a8.26 8.26 0 1 1 16.52 0v.13a8.26 8.26 0 0 0-8.26 8.14h-.13a8.26 8.26 0 0 0-8.13-8.14zm1.04-.93a9.2 9.2 0 0 1 7.16 5.13 9.33 9.33 0 0 1 7.27-5.14 7.22 7.22 0 0 0-2.08-4.33 7.2 7.2 0 0 0-5.13-2.13 7.2 7.2 0 0 0-5.13 2.13 7.22 7.22 0 0 0-2.09 4.34zM75.1 83.52v-.14a8.26 8.26 0 1 1 16.52 0v.14a8.26 8.26 0 0 0-8.26 8.13h-.13a8.26 8.26 0 0 0-8.13-8.13zm1.04-.93a9.2 9.2 0 0 1 7.16 5.13 9.33 9.33 0 0 1 7.27-5.15 7.22 7.22 0 0 0-2.08-4.32 7.2 7.2 0 0 0-5.13-2.13 7.2 7.2 0 0 0-5.13 2.13 7.22 7.22 0 0 0-2.09 4.34z'  stroke-width='1' stroke='none' fill='hsla(0, 64%, 13%, 1)'/><path d='M-.13 24.88H0a8.26 8.26 0 0 1 8.26-8.13v-.13a8.26 8.26 0 1 0-16.52 0v.13a8.26 8.26 0 0 1 8.13 8.13zm0 33.39H0a8.26 8.26 0 0 1 8.26-8.14V50a8.26 8.26 0 1 0-16.52 0v.13a8.26 8.26 0 0 1 8.13 8.14zm0 16.7H0a8.26 8.26 0 0 1 8.26-8.14v-.14a8.26 8.26 0 1 0-16.52 0v.14a8.26 8.26 0 0 1 8.13 8.13zm0-66.78H0A8.26 8.26 0 0 1 8.26.05v-.13a8.26 8.26 0 1 0-16.52 0v.14A8.26 8.26 0 0 1-.13 8.19zm100 0h.13a8.26 8.26 0 0 1 8.26-8.14v-.13a8.26 8.26 0 1 0-16.52 0v.13a8.26 8.26 0 0 1 8.13 8.14zm-66.77 0h.13A8.26 8.26 0 0 1 41.5.05v-.13a8.26 8.26 0 1 0-16.52 0v.13A8.26 8.26 0 0 1 33.1 8.2zm33.42 0h.13A8.26 8.26 0 0 1 74.91.05v-.13a8.26 8.26 0 1 0-16.52 0v.13a8.26 8.26 0 0 1 8.13 8.14zM-.13 108.35H0a8.26 8.26 0 0 1 8.26-8.14v-.13a8.26 8.26 0 1 0-16.52 0v.13a8.26 8.26 0 0 1 8.13 8.14zm0-16.7H0a8.26 8.26 0 0 1 8.26-8.13v-.13a8.26 8.26 0 1 0-16.52 0v.13a8.26 8.26 0 0 1 8.13 8.13zm100-66.77h.13a8.26 8.26 0 0 1 8.26-8.13v-.13a8.26 8.26 0 1 0-16.52 0v.13a8.26 8.26 0 0 1 8.13 8.13zm0 33.39h.13a8.26 8.26 0 0 1 8.26-8.14V50a8.26 8.26 0 1 0-16.52 0v.13a8.26 8.26 0 0 1 8.13 8.14zm0 16.69h.13a8.26 8.26 0 0 1 8.26-8.14v-.13a8.26 8.26 0 1 0-16.52 0v.14a8.26 8.26 0 0 1 8.13 8.13zm0 33.38h.13a8.26 8.26 0 0 1 8.26-8.13v-.13a8.26 8.26 0 1 0-16.52 0v.13a8.26 8.26 0 0 1 8.13 8.13zm0-16.69h.13a8.26 8.26 0 0 1 8.26-8.13v-.14a8.26 8.26 0 1 0-16.52 0v.14a8.26 8.26 0 0 1 8.13 8.13zM16.39 24.88h.13a8.26 8.26 0 0 1 8.26-8.13v-.13a8.26 8.26 0 1 0-16.52 0v.13a8.26 8.26 0 0 1 8.13 8.13zm0 16.7h.13a8.26 8.26 0 0 1 8.26-8.14v-.13a8.26 8.26 0 1 0-16.52 0v.13a8.26 8.26 0 0 1 8.13 8.14zm0 33.38h.13a8.26 8.26 0 0 1 8.26-8.14v-.13a8.26 8.26 0 1 0-16.52 0v.14a8.26 8.26 0 0 1 8.13 8.13zm0 16.7h.13a8.26 8.26 0 0 1 8.26-8.14v-.14a8.26 8.26 0 1 0-16.52 0v.14a8.26 8.26 0 0 1 8.13 8.13zm16.7-50.08h.14a8.26 8.26 0 0 1 8.26-8.14v-.13a8.26 8.26 0 1 0-16.52 0v.13a8.26 8.26 0 0 1 8.13 8.14zm0 16.69h.14a8.26 8.26 0 0 1 8.26-8.14V50a8.26 8.26 0 1 0-16.52 0v.13a8.26 8.26 0 0 1 8.13 8.14zm0 50.07h.14a8.26 8.26 0 0 1 8.26-8.13v-.13a8.26 8.26 0 1 0-16.52 0v.13a8.26 8.26 0 0 1 8.13 8.13zm0-16.69h.14a8.26 8.26 0 0 1 8.26-8.13v-.14a8.26 8.26 0 1 0-16.52 0v.14a8.26 8.26 0 0 1 8.13 8.13zm33.43-66.77h.13a8.26 8.26 0 0 1 8.26-8.13v-.13a8.26 8.26 0 1 0-16.52 0v.13a8.26 8.26 0 0 1 8.13 8.13zm0 16.7h.13a8.26 8.26 0 0 1 8.26-8.14v-.13a8.26 8.26 0 1 0-16.52 0v.13a8.26 8.26 0 0 1 8.13 8.14zm0 16.69h.13a8.26 8.26 0 0 1 8.26-8.14V50a8.26 8.26 0 1 0-16.52 0v.13a8.26 8.26 0 0 1 8.13 8.14zm0 16.69h.13a8.26 8.26 0 0 1 8.26-8.14v-.13a8.26 8.26 0 1 0-16.52 0v.14a8.26 8.26 0 0 1 8.13 8.13zm0 33.38h.13a8.26 8.26 0 0 1 8.26-8.13v-.13a8.26 8.26 0 1 0-16.52 0v.13a8.26 8.26 0 0 1 8.13 8.13zm0-16.69h.13a8.26 8.26 0 0 1 8.26-8.13v-.14a8.26 8.26 0 1 0-16.52 0v.14a8.26 8.26 0 0 1 8.13 8.13zm16.7-16.69h.14a8.26 8.26 0 0 1 8.26-8.14v-.13a8.26 8.26 0 1 0-16.52 0v.14a8.26 8.26 0 0 1 8.13 8.13z'  stroke-width='1' stroke='none' fill='hsla(0, 69%, 14%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>"); 
    width: 150px;
    border-radius: 100px;
}

.distinct > ul{
    display: flex;
    flex-direction: column;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='50' height='50' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 94%, 1)'/><path d='M25 3.95L22.3 9.2c-1.45 2.75-.95 6.15 1.25 8.35L25 19l1.45-1.45c2.15-2.2 2.65-5.6 1.25-8.35zm0 7.5c.85 0 1.5.7 1.5 1.5 0 .85-.65 1.5-1.5 1.5s-1.5-.7-1.5-1.5c0-.85.65-1.5 1.5-1.5zm-13.1.45l.75 5.6c.15 1.15 1 2.05 2.1 2.35l6.8 1.7-1.7-6.8c-.25-1.1-1.2-1.95-2.35-2.1zm26.2 0l-5.6.75c-1.15.15-2.05 1-2.35 2.1l-1.7 6.8 6.8-1.7c1.1-.25 1.95-1.2 2.1-2.35zm-21.4 3.4c.75 0 1.4.6 1.4 1.4 0 .4-.15.75-.4 1s-.6.4-1 .4c-.75 0-1.4-.6-1.4-1.4 0-.35.15-.75.4-1s.6-.4 1-.4zm16.55 0c.4 0 .75.15 1 .4s.4.6.4 1c0 .75-.6 1.4-1.4 1.4-.4 0-.75-.15-1-.4s-.4-.6-.4-1c0-.75.6-1.4 1.4-1.4zm4.28 6.179a7.102 7.102 0 00-5.08 2.072L31 25l1.45 1.45c2.2 2.15 5.6 2.65 8.35 1.25l5.25-2.7-5.25-2.7a7.126 7.126 0 00-3.27-.821zm-25.06.035a7.267 7.267 0 00-3.27.787L3.95 25l5.25 2.7c2.75 1.45 6.15.95 8.35-1.25L19 25l-1.45-1.45c-1.374-1.343-3.218-2.043-5.08-2.036zm12.53.685c-.75 0-1.45.301-1.95.801s-.8 1.2-.8 1.95.3 1.45.8 1.95 1.2.8 1.95.8 1.45-.3 1.95-.8.8-1.2.8-1.95-.3-1.45-.8-1.95-1.2-.8-1.95-.8zm12 1.25c.85 0 1.5.65 1.5 1.5s-.7 1.5-1.5 1.5-1.5-.65-1.5-1.5.7-1.5 1.5-1.5zM13 23.5c.8 0 1.5.65 1.5 1.5s-.7 1.5-1.5 1.5c-.85 0-1.5-.65-1.5-1.5s.7-1.5 1.5-1.5zm8.55 4.95l-6.8 1.7c-1.1.25-1.95 1.2-2.1 2.35l-.75 5.6 5.6-.75c1.15-.15 2.05-1 2.35-2.1zm6.9 0l1.7 6.8c.25 1.1 1.2 1.95 2.35 2.1l5.6.7-.75-5.6c-.15-1.15-1-2.05-2.1-2.35zM25 31l-1.45 1.45c-2.15 2.2-2.65 5.6-1.25 8.35l2.7 5.25 2.7-5.25c1.45-2.75.95-6.15-1.25-8.35zm8.3.85c.75 0 1.4.6 1.4 1.4 0 .4-.15.75-.4 1s-.6.4-1 .4c-.75 0-1.4-.6-1.4-1.4 0-.4.15-.75.4-1s.6-.4 1-.4zm-16.55.05c.4 0 .75.15 1 .4s.4.6.4 1c0 .75-.6 1.4-1.4 1.4-.4 0-.75-.2-1-.4-.25-.25-.4-.6-.4-1 0-.75.6-1.4 1.4-1.4zM25 35.5c.85 0 1.5.7 1.5 1.5 0 .85-.65 1.5-1.5 1.5s-1.5-.7-1.5-1.5.65-1.5 1.5-1.5z'  stroke-width='1' stroke='none' fill='hsla(259, 0%, 98%, 1)'/><path d='M1 0c.5.9 1.45 1.5 2.55 1.5C4.65 1.5 5.6.9 6.1 0zm42.9 0c.5.9 1.45 1.5 2.55 1.5C47.55 1.5 48.5.9 49 0zM0 1v5.1c.9-.5 1.5-1.45 1.5-2.55C1.5 2.45.9 1.5 0 1zm50 0c-.9.5-1.5 1.45-1.5 2.55 0 1.1.6 2.05 1.5 2.55zM0 43.9V49c.9-.5 1.5-1.45 1.5-2.55 0-1.1-.6-2.05-1.5-2.55zm50 0c-.9.5-1.5 1.45-1.5 2.55 0 1.1.6 2.05 1.5 2.55zM3.55 48.5c-1.1 0-2.05.6-2.55 1.5h5.1c-.5-.9-1.45-1.5-2.55-1.5zm42.9 0c-1.1 0-2.05.6-2.55 1.5H49c-.5-.9-1.45-1.5-2.55-1.5z'  stroke-width='1' stroke='none' fill='hsla(340, 100%, 99%, 1)'/><path d='M11.7 0A28.002 28.002 0 00.05 11.65v1.45c1.3-2.8 3.1-5.4 5.4-7.65A27.64 27.64 0 0113.15 0H11.7zm25.2.05c2.8 1.3 5.4 3.1 7.65 5.4a27.64 27.64 0 015.45 7.7V11.7A28.002 28.002 0 0038.35.05H36.9zm-16.6.9a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm9.4 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zM17.65 3.6a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm14.7 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm-17.4 2.65a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm20.1 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zM12.3 8.9a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm25.4 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zM9.45 11.75a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm31.1 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zM6.8 14.4a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm36.4 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zM4.15 17.05a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm41.7 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zM1.5 19.75a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm47 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm-47 9.4a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm47 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zM4.15 31.8a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm41.7 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zM6.8 34.45a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm36.4 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zM0 36.85v1.45a28.002 28.002 0 0011.65 11.65h1.45c-2.8-1.3-5.4-3.15-7.65-5.4A27.64 27.64 0 010 36.85zm49.95 0a25.563 25.563 0 01-5.4 7.7 27.64 27.64 0 01-7.7 5.45h1.45a28.002 28.002 0 0011.65-11.65v-1.5zm-40.5.3a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm31.1 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm-28.25 2.8a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm25.4 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm-22.75 2.7a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm20.1 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm-17.4 2.65a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm14.7 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zM20.3 47.95a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm9.4 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55z'  stroke-width='1' stroke='none' fill='hsla(199, 100%, 99%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
}
.distinct >  ul > div > li {
    list-style: none;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 20px;
    margin-left: 10px;
    font-size:large !important;
    color: rgba(0, 0, 0, 0.685);
}
.distinct > ul > div {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap: 100px;
    height: 140px;
    margin-left: -30px;
    width: 680px;
}
.distinct > ul > div > img {
    width: 120px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 10px;
    object-fit: cover;
}
.fop{
    background-color: none;
}


.fixing{
    margin-top: 100px;
}

.type{
    font-size: larger;
    user-select: none;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    width: 640px;
    height: 40px;
    color: rgba(5, 12, 0, 0.842);
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 8px rgba(139, 139, 139, 0.308);
    border-radius: 5px;
    align-items: center;
}


.menubody{
    width: 99vw;
    margin-top: -20px;
    background-color: white !important;
}

.items{
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: white;
}

.menu-description{
    font-size: 0.8rem;
    color: rgb(167, 167, 167);
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
    letter-spacing: 0;
    font-weight: lighter;
}


.img{
    width: 200px;
    height: 200px;
}

.btt{
    height: 30px;
    width: 80px;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    left: 911px;
    margin-top: 100px;
    box-shadow: 2px 2px 8px white;
    border: 1px solid rgb(194, 194, 194);
    font-weight: 900;
    color:rgb(37, 182, 37);
}

.btt1{
    position: absolute;
    left: 908px;
}

.type:hover{
    cursor: pointer;
    .dropdownbtn{
        height: 15px;
        width: 15px;
    }
}

.dropdownbtn{
    box-shadow: none;
    background-color: none !important;
    height: 12px;
    width: 12px;
}

*::selection{
    background: rgb(13, 126, 0);
    color: white;
}

.drop{
    width: 30px;
    display: flex;
    justify-content: center ;
}
 
img{
    user-select: none !important;
}
 

 
.emptyCart{
    display: flex;
    height: 95vh;
    width: 99vw;
    flex-direction: column;
    margin-top: -50px;
    margin-left: -10px;
    justify-content: center;
    align-items:center;
    color: rgb(167, 167, 167);
    background-color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 
.emptyCart > h5 > a{
    color: rgb(0, 56, 5);
}
 
.empty{
    height: 300px;
    width: 300px;
}

.clearout{
    display: flex;
    height: 30px;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}
.totalAmount{
    position: relative;
    bottom: 25px;
    margin-left: 10px;
    color: rgb(126, 126, 126);
    font-size: larger;
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
    letter-spacing: 0;
}
.clearCart{
    color: white;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    box-shadow: 2px 2px 4px white;
    border: 2px solid rgba(0, 0, 0, 0.39);
}


.aaj1{
    padding-right: 10px;
    width: 650px;
    margin-left: 329px;
    padding-top: 10px;
    border-radius: 20px;
    margin-top: -10px !important;
} 

.btt1{
    color: red;
}

.btt1:hover{
    box-shadow: 2px 2px 16px rgba(255, 0, 0, 0.411) !important;
}

@font-face {
    font-family: ProximaNova;
    font-weight: 700;
    src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/700.woff2") format("woff2"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/700.woff") format("woff"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/700.ttf") format("truetype")
}

@font-face {
    font-family: ProximaNova;
    font-weight: 600;
    src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/600.woff2") format("woff2"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/600.woff") format("woff"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/600.ttf") format("truetype")
}

@font-face {
    font-family: ProximaNova;
    font-weight: 500;
    src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/500.woff2") format("woff2"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/500.woff") format("woff"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/500.ttf") format("truetype")
}

@font-face {
    font-family: ProximaNova;
    font-weight: 400;
    src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/400.woff2") format("woff2"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/400.woff") format("woff"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/400.ttf") format("truetype")
}

@font-face {
    font-family: ProximaNova;
    font-weight: 300;
    src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/300.woff2") format("woff2"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/300.woff") format("woff"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/300.ttf") format("truetype")
}

@font-face {
    font-family: ProximaNovaBold;
    src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/bold.eot");
    src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/bold.eot?#iefix") format("embedded-opentype"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/bold.woff2") format("woff2"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/bold.woff") format("woff"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/bold.ttf") format("truetype")
}

@font-face {
    font-family: AsapCondensedSemiBold;
    src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/AsapCondensed-SemiBold.eot");
    src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/AsapCondensed-SemiBold.eot?#iefix") format("embedded-opentype"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/AsapCondensed-SemiBold.woff") format("woff"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/AsapCondensed-SemiBold.ttf") format("truetype"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/AsapCondensed-SemiBold.svg#AsapCondensedSemiBold") format("svg");
    font-style: normal;
    font-weight: 400
}

@font-face {
    font-family: ProximaNovaCondensedBold;
    src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ProximaNovaCond-Bold.eot");
    src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ProximaNovaCond-Bold.eot?#iefix") format("embedded-opentype"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ProximaNovaCond-Bold.woff2") format("woff2"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ProximaNovaCond-Bold.woff") format("woff"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ProximaNovaCond-Bold.ttf") format("truetype");
    font-style: normal
}

@font-face {
    font-family: ProximaNovaBlack;
    src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaBlack.woff2") format("woff2"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaBlack.woff") format("woff"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaBlack.ttf") format("truetype");
    font-style: normal
}

@font-face {
    font-family: ProximaNovaCondensedBlack;
    src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ProximaNovaCond-Black.woff2") format("woff2"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ProximaNovaCond-Black.woff") format("woff"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ProximaNovaCond-Black.ttf") format("truetype");
    font-style: normal
}

@font-face {
    font-family: ProximaNovaCondensedRegular;
    src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaCondensedRegular.woff2") format("woff2"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaCondensedRegular.woff") format("woff"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaCondensedRegular.ttf") format("truetype");
    font-style: normal
}

@font-face {
    font-family: ProximaNovaExtraBold;
    src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaBlack.woff2") format("woff2"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaBlack.woff") format("woff"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaExtraBold.ttf") format("truetype");
    font-style: normal
}

@font-face {
    font-family: ProximaNovaLight;
    src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaLight.woff2") format("woff2"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaLight.woff") format("woff"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaLight.ttf") format("truetype");
    font-style: normal
}

@font-face {
    font-family: ProximaNovaSemiBold;
    src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaSemiBold.woff2") format("woff2"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaSemiBold.woff") format("woff"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaSemiBold.ttf") format("truetype");
    font-style: normal
}

@font-face {
    font-family: ProximaNovaCondensedExtraBold;
    src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ProximaNovaCond-Extrabld.woff2") format("woff2"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ProximaNovaCond-Extrabld.woff") format("woff"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ProximaNovaCond-Extrabld.ttf") format("truetype");
    font-style: normal
}
